.App {
  text-align: center;
  height: 100vh;
}


.light{
  background-color: white;
  color:  black;
}

.dark{
  background-color: black;
  color: white;
}

.navbar{
  display: flex;
  height: 80px;
  background-color: orange
  ;
}


.inNav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.link{
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
}